<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile page</title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>

<div class="container">

    <div class="row">

        <div class="col">
            <h1>Hello, {{ username }}</h1>

        </div>
        <div class="col">
            <a href="{% url 'main:logout_user' %}">Log out</a>|
            <a href="{% url 'main:create_space' %}">Create a space here!</a>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <h3>list of all spaces</h3>
            <ul>
                {% for spacename in spaces %}
                    <li><a href="{% url 'main:space' spacename %}">{{ spacename }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col">
            <h3>list of followed spaces</h3>
        </div>
    </div>
</div>

</body>
</html>