{% extends "./loggedin_base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Space - {{ spacename }}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
{% block content %}
<h1>{{ spacename }}</h1>

{% if followed == 'True' %}
    <form method="POST" action="">
        {% csrf_token %}
        <input type="hidden" name="followed" value="False">
        <input type="submit" value="Unfollow">
    </form>
{% else %}
    <form method="POST" action="">
        {% csrf_token %}
        <input type="hidden" name="followed" value="True">
        <input type="submit" value="Follow">
    </form>
{% endif %}


<div class="container">
    <div class="row">
        <div class="col">
            <a href="{% url 'main:post' spacename %}">Create a post</a>
        </div>
        <div class="col">

        </div>
        <div class="col">

        </div>
    </div>
<h2>most recent posts</h2><br>
    <div class="row">
        <div class="col">

            <ul class="list-group">
                {% for post in space_posts %}
                    <li class="list-group-item">
                        <a href="{% url 'main:post_comments' post.spacename post.title %}">{{ post.title }}</a> <br>
                        Posted by {{ post.user }} on {{ post.date_published }} - Upvotes: {{ post.upvotes }}

                        {% if request.user == post.user %}
                            <form method="POST" action="{% url 'main:delete_post' post.spacename post.title %}">
                                {% csrf_token %}
                                <input type="submit" value="Delete">
                            </form>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col">


        </div>
    </div>

</div>
{% endblock %}
</body>
</html>